.btn {
    background-color: #222;
    color: #fff;
    padding: 0.9em 1.2em;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

.btn:hover {
    color: #ffbb33;
}
