*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*para os inputs não ultrapassarem a área máxima da div pai*/
  font-family: 'Open Sans', sans-serif;
}

html, body, #root{
  background-color: #efefef;
  height: 100%;
}

